.settings
.settings/*
.buildpath
.project
.hgignore
doc/
.DS_Store
Thumbs.db
Tests/*
test/
test/*
tests
copias/*
tmp/*
*/tmp/*
*.sql
/build
build/*
atlassian*

nbproject/project.xml

nbproject/private/private.properties

nbproject/private/private.xml

nbproject/project.properties
