body {
	color: #333333;
	text-decoration: none;
	font-family: "Trebuchet MS, Arial, sans-serif";
	background-color: #ffffff;
	font-size: small;
}
.par
{
	background: #eeeeee;
}
.impar
{
	background: #dddddd;
}
.tabla th
{
    border-bottom: 2px solid #333333;
}
.tabla td
{
    border-bottom: 1px dotted #333333;
}
.volver
{
	cursor:pointer;
}

